.page-s501 .bottom-content {
  margin: 0px 0px 20px -10px;
}
.page-s501 .bottom-content .smd-text-label {
  width: 500px;
  margin: 0px 0px 5px 10px;
  float: left;
  display: inline-block;
}
.page-s501 .bottom-content .smd-text-label label {
  padding: 10px 15px;
  text-align: center;
  min-width: 145px;
}
.page-s501 .bottom-content .wrapper-content .smd-text-label {
  width: auto;
}
.page-s501 .bottom-content .wrapper-content .smd-edit-button {
  float: left;
  margin: 0px 0px 0px 10px;
}
.page-s501 .meta-top-option {
  clear: both;
  margin: 0px 0px 7px;
}
.page-s501 .meta-top-option .fl-left {
  margin: 23px 0px 0px;
}
.page-s501 .meta-top-option .fl-left p {
  line-height: 1em;
}
.page-s501 .meta-top-option .fl-right {
  margin: 0px 0px 2px;
}
.page-s501 table tbody tr td p {
  margin-bottom: 12px;
}
.page-s501 table tbody tr td .margin-bt {
  margin-bottom: 15px;
  display: block;
}
.page-s501 table tbody tr .rating .note-button {
  margin-left: 46px;
}

.note-button {
  background: #cce198;
  color: #000;
  padding: 3px 9px;
  margin: 0px 0px 6px;
  display: inline-block;
  border-radius: 3px;
}

.text-red {
  color: #f45050;
}

.md-table-06 .smd-edit-button {
  display: inline-block;
  float: left;
}
.md-table-06 .btn-delete {
  float: left;
  margin: 5px 0px 0px;
}

.mCSB_scrollTools a + .mCSB_draggerContainer {
  margin: 0px 0px;
}

.ui.modal > :last-child {
  border-radius: 0px;
}

.ui.modal.modal-04 {
  width: 650px;
  height: 500px;
  border: 1px solid #a0a0a0 !important;
  padding: 30px 45px 29px 45px;
}
.ui.modal.modal-04 .bottom-content {
  margin-bottom: 10px;
}
.ui.modal.modal-04 .bottom-content .smd-text-label {
  margin-bottom: 5px;
}
.ui.modal.modal-04 .scroll-normal {
  height: 280px;
  width: 560px;
  border: 1px solid #d2d2d2;
}
.ui.modal.modal-04 .scroll-normal .container-scrool {
  padding: 11px 0px 0px 28px;
}
.ui.modal.modal-04 .scroll-normal .container-scrool ul li {
  width: 50%;
  float: left;
  margin-bottom: 12px;
  position: relative;
  padding: 0px 0px 0px 9px;
}
.ui.modal.modal-04 .scroll-normal .container-scrool ul li:before {
  position: absolute;
  left: 0px;
  top: 5px;
  content: "";
  border-radius: 50%;
  background: #4f4f4f;
  width: 3px;
  height: 3px;
  display: inline-block;
}

.smd-text-label label {
  min-width: 145px;
  padding: 10px 10px;
  text-align: center;
}

.smd-toggle-checkbox {
  position: relative;
  display: inline-block;
  margin: 0px -2px;
}
.smd-toggle-checkbox input {
  display: none;
}
.smd-toggle-checkbox label {
  position: relative;
  width: 70px;
  height: 24px;
  margin: 0px;
  position: relative;
  cursor: pointer;
}
.smd-toggle-checkbox label span {
  position: relative;
  color: #FFF;
  z-index: 50;
}
.smd-toggle-checkbox label:before {
  background: #696f76;
  border-radius: 3px;
  width: 70px;
  height: 24px;
  z-index: 40;
  display: block;
  position: absolute;
  content: '';
  z-index: 1;
  -webkit-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
  border: none;
  top: 0;
  left: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.smd-toggle-checkbox label:after {
  color: #4f4f4f;
  content: "";
  width: 18px;
  height: 18px;
  left: 1px;
  top: -1px;
  display: inline-block;
  background: #e5e5e5;
  border: 2px solid #959595;
  border-radius: 3px;
  width: 24px;
  height: 24px;
  z-index: 40;
  position: absolute;
  left: 46px;
  top: 0px;
}
.smd-toggle-checkbox .button-toogle-checkbox label {
  padding: 4px 0px 0px 32px;
}
.smd-toggle-checkbox .button-toogle-checkbox label:after {
  left: 0px;
  right: auto;
}
.smd-toggle-checkbox .button-toogle-checkbox label span.on {
  display: none;
}
.smd-toggle-checkbox .button-toogle-checkbox label span.off {
  display: block;
}
.smd-toggle-checkbox .button-toogle-checkbox.checked label {
  padding: 4px 0px 0px 11px;
}
.smd-toggle-checkbox .button-toogle-checkbox.checked label:after {
  right: 0px;
  left: auto;
}
.smd-toggle-checkbox .button-toogle-checkbox.checked label:before {
  background: #085e9f;
}
.smd-toggle-checkbox .button-toogle-checkbox.checked label span.on {
  display: block;
}
.smd-toggle-checkbox .button-toogle-checkbox.checked label span.off {
  display: none;
}
.smd-toggle-checkbox .page-s301 .bottom-content .smd-text-label {
  min-width: 500px;
  float: left;
  margin: 0px 0px 10px;
  display: inline-block;
}
